include LICENSE README.md CHANGELOG.md
recursive-include cms_core_classes/static *
recursive-include cms_core_classes/templates *.html *.txt
recursive-include cms_core_classes/templates/includes *.html *.txt
recursive-include cms_core_classes/locale/*/LC_MESSAGES *.mo *.po
recursive-include cms_core_classes/templatetags *
recursive-exclude * __pycache__
recursive-exclude * *.png
recursive-exclude * manage.py
recursive-exclude *
recursive-exclude cms_core_classes_sample *
