django==5.1.8
django-admin-sortable2==2.2.4
django-bootstrap5==24.3
django-filebrowser-no-grappelli==4.0.2
django-tinymce==4.1.0
Pillow==11.1.0
pytest==8.3.4
pytest-cov==6.0.0
pytest-django==4.10.0
ruff==0.9.7
coverage==7.6.12
Faker==36.1.1
pytest==8.3.4
pytest-cov==6.0.0
pytest-django==4.10.0