Sphinx==9.1.0
sphinx-rtd-theme==3.1.0
django==6.0.2
django-admin-sortable2==2.3
django-bootstrap5==26.1
django-filebrowser-no-grappelli==4.0.2
django-tinymce==5.0.0
Pillow==12.1.0
pytest==9.0.2
pytest-cov==7.0.0
pytest-django==4.11.1
ruff==0.14.12
coverage==7.13.1
Faker==40.1.2
